<!-- Generated template for the ProductosEnPedidoComponent component -->
<div>
  <!-- Id de pedido en productos-en-pedido: {{idPedido}} -->
  <ion-list>
    <ion-card *ngFor="let producto of arrayProductos; let i = index" padding style="background-color: rgba(77, 76, 76, 0.589); color: white">
          Producto: {{producto.nombre}}
          <br>
          Estado: {{producto.estado}}
          <button  *ngIf="producto.estado == 'pendiente' && producto.estado !== 'terminado'" ion-button style="background-color:rgb(233, 53, 33)" (click)="CambiarEstado(producto, i, 'preparacion')">Comenzar</button>
          <button  *ngIf="producto.estado == 'preparacion' && producto.estado !== 'terminado'" ion-button style="background-color:rgb(33, 233, 66)" (click)="CambiarEstado(producto, i, 'terminado')">Terminado</button>
    </ion-card>
  </ion-list>

</div>
