<div class="contenidoLogin">
  <!-- <ion-header padding>
    <ion-toolbar>
      <ion-title>Bienvenido Dueño</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div padding>
    <button *ngIf="!registrarDuenoSupervisor && !registrarEmpleado" ion-button large color="primary" class="loginButton" (click)="muestraFormularioRegistracion('duenoSupervisor')">Registrar Dueño/Supervisor</button>
  </div>

  <div padding>
    <button *ngIf="!registrarEmpleado && !registrarDuenoSupervisor" ion-button large color="primary" class="loginButton" (click)="muestraFormularioRegistracion('empleado')">Registrar Empleado</button>
  </div>

  <!--ALTA DE SUPERVISOR -->
  <ion-content *ngIf="registrarDuenoSupervisor">
    <ion-title>Registrar Dueño / Supervisor</ion-title>
    
    
    <div padding>
      <button ion-button large color="primary" class="loginButton" (click)="muestraFormularioRegistracion('duenoSupervisor')">Volver</button>
    </div>    

    <div padding>
      <button ion-button large color="primary" class="loginButton" (click)="LeerDni()">Escanear DNI</button>
    </div>
    <!-- <div class="splash-logo"></div> -->
        
    <form [formGroup]="registroForm" (submit)="Alta('duenoSupervisor')">
      <ion-list>

        <ion-item padding style="background-color: rgba(0,0,0,0.7) !important; color: white; border-radius: 10px;">
          <ion-label class="titulo" style="color: white;" fixed>Nombre</ion-label>
          <ion-input  class="titulo" type="text" style="color: white;" [formControl]="nombre" required name="nombre"></ion-input>
        </ion-item>
  
        <ion-item padding style="background-color: rgba(0,0,0,0.7) !important; color: white; border-radius: 10px;">
          <ion-label class="titulo" style="color: white;" fixed>Apellido</ion-label>
          <ion-input  class="titulo" style="color: white;" type="text"  [formControl]="apellido" required name="apellido"></ion-input>
        </ion-item>

        <ion-item padding style="background-color: rgba(0,0,0,0.7) !important; color: white; border-radius: 10px;">
          <ion-label class="titulo" style="color: white;" fixed>Clave</ion-label>
          <ion-input  class="titulo" style="color: white;" type="password"  [formControl]="clave" name="clave"></ion-input>
        </ion-item>

        <ion-item padding style="background-color: rgba(0,0,0,0.7) !important; color: white; border-radius: 10px;">
          <ion-label class="titulo" style="color: white;" fixed>Email</ion-label>
          <ion-input  class="titulo" style="color: white;" type="email"  [formControl]="email" name="email"></ion-input>
        </ion-item>

        <ion-item padding style="background-color: rgba(0,0,0,0.7) !important; color: white; border-radius: 10px;">
          <ion-label class="titulo" style="color: white;" fixed>DNI</ion-label>
          <ion-input  class="titulo" style="color: white;" type="number"  [formControl]="dni" required name="dni"></ion-input>
        </ion-item>

        <ion-item padding style="background-color: rgba(0,0,0,0.7) !important; color: white; border-radius: 10px;">
            <ion-label class="titulo" style="color: white;" fixed>CUIL</ion-label>
            <ion-input  class="titulo" style="color: white;" type="number"  [formControl]="cuil" name="cuil"></ion-input>
        </ion-item>

      
        <ion-item padding style="background-color: rgba(0,0,0,0.7) !important; color: white; border-radius: 10px;">
          <ion-label class="titulo" style="color: white;" fixed>Perfil</ion-label>
          <!-- <ion-input  class="titulo" style="color: white;" type="number" [(ngModel)]="loginFields.cuil" name="cuil"></ion-input> -->
          <ion-select class="titulo" style="color: white;"  name="perfil" [formControl]="perfil"  placeholder="Seleccionar">
            <ion-option value="dueno">Dueño</ion-option>
            <ion-option value="supervisor">Supervisor</ion-option>
          </ion-select>
        </ion-item>

          
        <div padding>
          <button class="loginButton" large ion-button color="primary" [disabled]="!registroForm.valid" block>REGISTRAR</button>
        </div>


        <div padding style="background-color: rgba(0,0,0,0.7) !important; color: white; border-radius: 10px;">
          <ng-container *ngFor="let validation of validation_messages.cuil">
            <div class="error-message" style="color: white;" *ngIf="registroForm.get('cuil').hasError(validation.type)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

  
      </ion-list>
    </form>
  
  </ion-content>
 

  <!--ALTA DE EMPLEADO -->
  <ion-content *ngIf="registrarEmpleado">
    <ion-title>Registrar Empleado</ion-title>
    
    
    <div padding>
      <button ion-button large color="primary" class="loginButton" (click)="muestraFormularioRegistracion('empleado')">Volver</button>
    </div>    

    <div padding>
      <button ion-button large color="primary" class="loginButton" (click)="LeerDni()">Escanear DNI</button>
    </div>
    <!-- <div class="splash-logo"></div> -->
        
    <form [formGroup]="registroFormEmpleado" (submit)="Alta('empleado')">
      <ion-list>

        <ion-item padding style="background-color: rgba(0,0,0,0.7) !important; color: white; border-radius: 10px;">
          <ion-label class="titulo" style="color: white;" fixed>Nombre</ion-label>
          <ion-input  class="titulo" type="text" style="color: white;" [formControl]="nombre" required name="nombre"></ion-input>
        </ion-item>
  
        <ion-item padding style="background-color: rgba(0,0,0,0.7) !important; color: white; border-radius: 10px;">
          <ion-label class="titulo" style="color: white;" fixed>Apellido</ion-label>
          <ion-input  class="titulo" style="color: white;" type="text"  [formControl]="apellido" required name="apellido"></ion-input>
        </ion-item>

        <ion-item padding style="background-color: rgba(0,0,0,0.7) !important; color: white; border-radius: 10px;">
          <ion-label class="titulo" style="color: white;" fixed>Clave</ion-label>
          <ion-input  class="titulo" style="color: white;" type="password"  [formControl]="clave" name="clave"></ion-input>
        </ion-item>

        <ion-item padding style="background-color: rgba(0,0,0,0.7) !important; color: white; border-radius: 10px;">
          <ion-label class="titulo" style="color: white;" fixed>Email</ion-label>
          <ion-input  class="titulo" style="color: white;" type="email"  [formControl]="email" name="email"></ion-input>
        </ion-item>

        <ion-item padding style="background-color: rgba(0,0,0,0.7) !important; color: white; border-radius: 10px;">
          <ion-label class="titulo" style="color: white;" fixed>DNI</ion-label>
          <ion-input  class="titulo" style="color: white;" type="number"  [formControl]="dni" required name="dni"></ion-input>
        </ion-item>

        <ion-item padding style="background-color: rgba(0,0,0,0.7) !important; color: white; border-radius: 10px;">
            <ion-label class="titulo" style="color: white;" fixed>CUIL</ion-label>
            <ion-input  class="titulo" style="color: white;" type="number"  [formControl]="cuil" name="cuil"></ion-input>
        </ion-item>

      
        <ion-item padding style="background-color: rgba(0,0,0,0.7) !important; color: white; border-radius: 10px;">
          <ion-label class="titulo" style="color: white;" fixed>Tipo</ion-label>
          <!-- <ion-input  class="titulo" style="color: white;" type="number" [(ngModel)]="loginFields.cuil" name="cuil"></ion-input> -->
          <ion-select class="titulo" style="color: white;"  name="tipo" [formControl]="tipo"  placeholder="Seleccionar">
            <ion-option value="mozo">Mozo</ion-option>
            <ion-option value="cocinero">Cocinero</ion-option>
            <ion-option value="bartender">Bar Tender</ion-option>
            <ion-option value="delivery">Delivery</ion-option>
          </ion-select>          
        </ion-item>

          
        <div padding>
          <button class="loginButton" large ion-button color="primary" [disabled]="!registroFormEmpleado.valid" block>REGISTRAR</button>
        </div>


        <div padding style="background-color: rgba(0,0,0,0.7) !important; color: white; border-radius: 10px;">
          <ng-container *ngFor="let validation of validation_messages.cuil">
            <div class="error-message" style="color: white;" *ngIf="registroForm.get('cuil').hasError(validation.type)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

  
      </ion-list>
    </form>
  
  </ion-content>

 
  <ion-footer>

    <ion-fab bottom right *ngIf="registrarDuenoSupervisor" >
      <button ion-fab class="loginProfileButton" (click)="SacarFoto()" [disabled]="!registroForm.valid"><ion-icon name="camera"></ion-icon></button>
    
    </ion-fab>  
    
  </ion-footer>
</div>
  