<ion-header>

  <ion-navbar class="cocineroNavBar">
    <ion-title>mozo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="cocineroMenu">

  <button ion-button full (click)="ListaEspera()">Lista de espera</button>

  <button ion-button full (click)="PedidosPendientes()">Pedidos pendientes</button>

  <ion-list>

    <ion-card *ngFor="let mesa of listaMesas" mesa [estado]="mesa.estado">
      <ion-card-header>
        <ion-title> Mesa: {{mesa.numero}}</ion-title>
         
      </ion-card-header>
      <ion-card-content>
          Estado: {{mesa.estado}}
          <div *ngIf="mesa.estado=='ocupada'"><button ion-button (click)="Opciones(mesa)" full >Ingresar</button></div>
      </ion-card-content>
    </ion-card>

  </ion-list>

</ion-content>
