<!-- Generated template for the ListapedidosComponent component -->
<ion-list>
  <ion-card *ngFor="let pedido of pedidos" padding style="background-color: rgba(77, 76, 76, 0.589); color: white">
  <!-- Cliente: {{ reserva.cliente.apellido }}-->
        <br>
     <!-- Fecha: {{ reserva.fecha }}
     Hora: {{ reserva.hora }} -->
        <br>
       Mesa: {{ pedido.mesa }}
        <br>
        Estado: {{pedido.estado}}
        <br>
        
        <button  ion-button style="background-color: green" (click)="VerProductos()" >Ver Productos</button>
        <button  ion-button style="background-color:rgb(233, 53, 33)" (click)="ComenzarPedido()">Comenzar</button>
      </ion-card>
</ion-list>