
<ion-card padding style="background-color: rgba(77, 76, 76, 0.589); color: white">
  Muchas gracias por su pedido!
  Usted se encuentra en la Mesa Nro.: {{ pedido.mesa }}   
   <br>
   El estado de su pedido es: {{ pedido.estado }}   
   <br>
    
   <productos-en-pedido 
     [pedido]='pedido'
   ></productos-en-pedido>
          
  <button  *ngIf="pedido.estado == 'entregado'" ion-button style="background-color: green" (click)="ConfirmarEntrega()">Recibido</button>
  <button *ngIf="pedido.estado == 'recibido' && pedido.estado !== 'pagado' && pedido.propina == 0" ion-button style="background-color:rgb(233, 53, 33)" (click)="IndicarPropina()">Grado de Satisfacción</button> 
  <button *ngIf="pedido.estado == 'recibido' && pedido.estado !== 'solicita_cuenta'" ion-button style="background-color:rgb(233, 53, 33)" (click)="SolicitarCuenta()">Solicitar La Cuenta</button> 

</ion-card>